.container {
  display: flex;
  flex: 1;
  background-color: lightslategray;
  justify-content: center;
  min-height: 100vh;
  padding: 0px 15px;
}

.table {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  color: white;
  margin-top: 20px;
}

.buttons {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: center;
  align-items: flex-end;
}

.buttons .element {
  padding: 0 15px;
}
